/**
 * TODO:
 * [x] - deadae
 *
 * - [x] Header como do notas do macbook
 * - [ ] Labels no Header
 * - [ ] Notificação
 * - [ ] Comentarios
 * - [ ] Fechar issue
 * - [ ] Copy right 2019 MarioRodeghiero
 * - [ ] Avatar no canto direito do Header 
 *
 *
 * FIXME
 *
 */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,100');
@import '~@fortawesome/fontawesome-free/css/all.css';
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
p,
li,
span,
label,
button,
form {
  font-family: 'Roboto';
  font-weight: 100;
  letter-spacing: 0.025em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr {
  opacity: 0.4;
}

i {
  cursor: pointer;
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 220px 280px auto;
}

.container-issue {
  max-height: 100vh;
  overflow: scroll;
  border-right: 1px solid #e2e5ec;
  background-color: #EBECF4;
}

.container-issue::-webkit-scrollbar {
  display: none;
}

.link-desable {
  color: #41ead4;
}

.logo {
  width: 80px;
  height: 80px;
  opacity: 0.1;
  margin-left: 45%;
  margin-top: 50%;
  margin-bottom: 43%;
}

.show-issue {
  padding-top: 50px;
  padding-bottom: 50px;
  overflow: scroll;
  background-color: #EBECF4;
}

.show-issue::-webkit-scrollbar {
  display: none;
}

.container-markdown pre {
  overflow: auto;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
